* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html {
    overflow-x: hidden;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    }
.fix-head::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
    background-color: #ce7154;

}
a {
    text-decoration: none;
    color: black;
}

.icon-logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    stroke-width: 0;
    stroke: #f1f1f1;
    fill: #f1f1f1;
    }
.header {
    height: 100px;
    background-color: #ce7154;
    /*width: 1200px;*/
    padding: 40px 0 0 -30px;
}
.header-fix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.header-logo {
    padding-left: 20px;
}
.header-nav__a {
    color: #f1f1f1;
    font-size: 18px;
    padding-right: 20px;
}

.wholesale {
    height: 765px;
    background: #000 url("img/karate.jpg");
}
.wholesale-head {
    font-size: 65px;
    color: #2b2b2b;
    padding: 30px 0 0 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.goods {
    height: 820px;
    background-color: #f1f1f1;
    margin-top: -42px;
    width: 100%;
}
.fix-goods::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
    background-color: #f1f1f1;
}
.goods-h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
}
.goods-p {
    font-size: 20px;
    text-align: center;
}
.goods-menu {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    overflow: hidden;
}
.goods-menu__ball {
    background-image: url("img/ball.jpg");
    transition: 0.5s;
    height: 300px;
    width: 300px;
    /*display: flex;*/
}
.goods-menu__ball:hover {
    opacity: .85;
    /*transform: scale(1.05);
    flex-basis: 98%;*/
}
.goods-menu__battle {
    background-image: url("img/boxing.jpg");
    height: 300px;
    width: 300px;
    transition:0.5s;
}
.goods-menu__battle:hover {
    opacity: .85;
}
.goods-menu__atlet {
    background-image: url("img/atlet.jpg");
    height: 300px;
    width: 300px;
    transition: 0.5s;
}
.goods-menu__atlet:hover {
    opacity: .85;
}
.goods-menu__h3 {
    color: #f1f1f1;
    text-align: center;
    padding: 40px 0 0 0;
    font-size: 30px;
}
.goods-menu__p {
    color: #f1f1f1;
    text-align: center;
    font-size: 20px;
}
.advantage {
    background-color: #b3b3b6;
    margin-top: -50px;
}
.fix-adv::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
    background-color: #b3b3b6;
}
.advantage-h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
}
.advantage__cover{
    display: flex;
    justify-content: space-around;
}
.fix-footer::after {
    content: "";
    display: block;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
    background-color: #5b5c63;
}
.contacts {
    display: flex;
    justify-content: space-between;
    /*margin-top: -1px;*/
}
/*.contacts__map {
    background-image: url("img/map.jpg");
    width: 558px;
    height: 346px;
}*/
